.atsxt-wrapper {
  position: relative;
}
.atsxt-controller {
  z-index: 10;
  display: flex;
  column-gap: 8px;
}

.atsxt-controller-checkbox {
  margin-left: 1em;
  margin-right: 0.2em;
}
.atsxt-scroll-bar-wrapper {
  overflow: auto;
}

.atsxt-scroll-bar {
  height: 1px;
}
.atsxt-controller-label {
  white-space: nowrap;
  display: inline-block;
  padding-right: 5px;
}
.atsxt-dragable {
  cursor: move;
}

.atsxt-center {
  text-align: center;
}

.atsxt-control-setting {
  position: absolute;
  right: 10px;
  top: 20px;
  z-index: 5;
  cursor: pointer;
}

.atsxt-fix-column-right {
  transform: scaleX(-1);
  display: inline-block;
}
