.atsxt-wrapper {
  position: relative;
}
.atsxt-controller {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  border: 1px solid black;
  z-index: 10;
  display: flex;
  column-gap: 4px;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  overflow: hidden;
  padding: 0.5em;
  /* visibility: hidden; */
  opacity: 1;
  /* height: 0; */
}
/* .atsxt-controller:hover { */
/* } */

.atsxt-wrapper:hover .atsxt-controller {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  height: auto;
}

.atsxt-controller-checkbox {
  margin-left: 1em;
  margin-right: 0.2em;
}
.atsxt-scroll-bar-wrapper {
  overflow: auto;
}

.atsxt-scroll-bar {
  height: 1px;
}
.atsxt-controller-label {
  white-space: nowrap;
  display: inline-block;
}

.atsxt-center {
  text-align: center;
}
